@media screen and (max-width: 1280px) {

    #all{
      display: block;
      width: 85%; height: auto;
      margin: 0 auto;
    }

    header{
      display: block;
      width: 100%; height: 150px;
    }

    nav{
      display: block;
      margin-right: 30px;
    }

    main{
      display: block;
      width: 100%; height: auto;
    }

    article.list-articles{
      display: block;
      width: 65%; height: auto;
    }

    img{
      display: block;
      width: 100%; height: auto;
    }

    article.articles{
      display: block;
      width: 63%; height: auto;
      position: relative;
      left: 60px;
    }

    footer{
      display: block;
      width: 100%; height: auto;
    }
}

@media screen and (max-width: 960px) {

    #all{
      display: block;
      width: 85%; height: auto;
      margin: 0 auto;
    }

    header{
      display: block;
      width: 100%; height: 150px;
    }

    nav{
      display: block;
      margin-right: 30px;
    }

    main{
      display: block;
      width: 100%; height: auto;
    }

    article.list-articles{
      display: block;
      width: 75%; height: auto;
    }

    img{
      display: block;
      width: 100%; height: auto;
    }

    article.articles{
      display: block;
      width: 73%; height: auto;
      position: relative;
      left: 40px;
    }

    footer{
      display: block;
      width: 100%; height: auto;
    }
}

@media screen and (max-width: 800px) {

    #all{
      display: block;
      width: 85%; height: auto;
      margin: 0 auto;
    }

    header{
      display: block;
      width: 100%; height: 150px;
    }

    nav{
      display: block;
      margin-right: 30px;
    }

    main{
      display: block;
      width: 100%; height: auto;
    }

    article.list-articles{
      display: block;
      width: 85%; height: auto;
    }

    img{
      display: block;
      width: 100%; height: auto;
    }

    article.articles{
      display: block;
      float: none;
      width: 83%; height: auto;
      margin: 0 auto;
      position: relative;
      left: 0px;
    }

    footer{
      display: block;
      width: 100%; height: auto;
    }
}


@media screen and (max-width: 640px) {

    #all{
      display: block;
      width: 90%; height: auto;
      margin: 0 auto;
    }

    header{
      display: block;
      width: 100%; height: 150px;
    }

    nav{
      display: block;
      margin-right: 30px;
    }

    main{
      display: block;
      width: 100%; height: auto;
    }

    article.list-articles{
      display: block;
      width: 90%; height: auto;
    }

    img{
      display: block;
      width: 100%; height: auto;
    }

    article.articles{
      display: block;
      float: none;
      width: 90%; height: auto;
      margin: 0 auto;
      position: relative;
      left: 0px;
    }

    footer{
      display: block;
      width: 100%; height: auto;
    }

}


@media screen and (max-width: 400px) {

    body{
      background-color: white;
    }

    #all{
      display: block;
      width: 95%; height: auto;
      margin: 0 auto;
    }

    header{
      display: block;
      width: 100%; height: 150px;
    }

    nav{
      display: block;
      margin-right: 30px;
    }

    main{
      display: block;
      width: 100%; height: auto;
    }

    article.list-articles{
      display: block;
      width: 95%; height: auto;
    }

    img{
      display: block;
      width: 100%; height: auto;
    }

    article.articles{
      display: block;
      float: none;
      width: 95%; height: auto;
      margin: 0 auto;
    }

    footer{
      display: block;
      width: 100%; height: auto;
    }
}
