@@font-face {
  font-family: "Dosis";
  src:url("Dosis-Bold.ttf");
}

@@font-face {
  font-family: "Dosis";
  src:url("Dosis-ExtraBold.ttf");
}

@@font-face {
  font-family: "Dosis";
  src:url("Dosis-ExtraLight.ttf");
}

@@font-face {
  font-family: "Dosis";
  src:url("Dosis-Light.ttf");
}

@@font-face {
  font-family: "Dosis";
  src:url("Dosis-Medium.ttf");
}

@@font-face {
  font-family: "Dosis";
  src:url("Dosis-Regular.ttf");
}

@@font-face {
  font-family: "Dosis";
  src:url("Dosis-SemiBold.ttf");
}
