@@font-face {
  font-family: "Dosis-Bold";
  src:url("Dosis-Bold.ttf");
}

@@font-face {
  font-family: "Dosis-Medium";
  src:url("Dosis-Medium.ttf");
}

@@font-face {
  font-family: "Dosis-Regular";
  src:url("Dosis-Regular.ttf");
}

/*=====================================
Open Sans
=====================================*/

@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 300.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 300italic.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 600.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 600italic.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 700.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 700italic.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 300.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 800.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans 800italic.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans italic.ttf");
}

@@font-face {
  font-family: "Open Sans";
  src:url("Open Sans regular.ttf");
}

@@font-face {
  font-family: "Raleway-Regular";
  src:url("Raleway regular.ttf");
}

@@font-face {
  font-family: "Lato-Regular";
  src:url("Lato-regular.ttf");
}
